.autoatendimento {
  display: flex;
  align-items: center;
  justify-content: center;
}

.autoatendimento_text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.autoatendimento_p p {
  max-width: 500px;
}

.autoatendimento_text p {
  font-size: 30px;
  font-weight: 500;
  color: #666;
}
