

.banner-app_flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner-app_text {
  max-width: 400px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 37px;
  text-align: center;
  color: #7a7786;
}

.icons-app {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 30px;
}

.banner-app_image{
  background-color: #F7B801;
  border-radius: 10px;
}