.icons {
  margin-top: 100px;
  margin-bottom: 100px;
}

.cards-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.cards_icon span {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #7a7786;
  padding-left: 20px;
}

.cards_icon li {
  max-width: 518px;
}

.cards_icon ul li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 50px;
}

.cards-text p {
  max-width: 400px;
  color: #4c4c4c;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
}
