
.banner{
  background-color: #fceabe;
  height: 517px;
}



.banner_flex {
  display: flex;
  align-items: center;

}

.banner_woman {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner_woman img {
  width: 500px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.banner_woman,
.banner_content {
  flex: 1;
}

.banner_app__flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 24.375rem;
  margin: 0 auto;
}

.banner_content h2 {
  max-width: 500px;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  line-height: 1.2;
  text-transform: uppercase;
}

.banner_content h2 span {
  font-weight: 500;
}

.btn_info {
  margin-top: 1.875rem;
  padding: 1.25rem 3.125rem;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  background-color: #703e57;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.125rem;
  cursor: pointer;
}

.banner_info {
  padding: 0.625rem;
  font-style: oblique;
  text-decoration: underline;
  cursor: pointer;
}

.text_design {
  font-size: 3rem;
  color: rgb(73, 160, 253, 0.9);
}
