.banner-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.banner-content h2 {
  max-width: 900px;
  font-size: 45px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  line-height: 1.5;
  color: #4c4c4c;
  font-weight: 400;
}

.banner-span {
  color: #4c4c4c;
  font-weight: 600;
  text-transform: uppercase;
  font-weight: bold;
}

.banner_info {
  border-bottom: 0.6px solid #4c4c4c;
  cursor: pointer;
  font-style: italic;
}

.btn_info {
  margin-top: 1.875rem;
  padding: 15px 40px;
  border-radius: 0.5rem;
  border: none;
  color: #494444;
  background: #F7B801;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.125rem;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn_info:hover {
  background: #eec043;
  cursor: pointer;
}

.imgApontando1 {
  background: #f8f7f5;
  border-radius: 0  0 10px 10px;
}

.ge {
  position: relative;
}


.icons1 {
  width: 50px;
  left: 93px;
  top: 34px;
  position: absolute;

}


.icons2 {
  width: 50px;
  position: absolute;
  right: 93px;
  top: 113px;
  transform: rotate(20deg);
  animation: loading 1500ms alternate 500ms infinite;
}

.icons3 {
  width: 50px;
  position: absolute;
  right: 76px;
  bottom: 125px;
}

.icons4 {
  width: 50px;
  position: absolute;
  left: 10%;
  bottom: 259px;
  transform: rotate(20deg);
  animation: loading 1500ms alternate 500ms infinite;
}

@keyframes iconsbank {
  0% {
    transform: rotate(10deg);
  }

  100% {
    transform: translate-x(50deg);
  }
}


